body {
    background-image: url("https://i.ytimg.com/vi/qotGz7FvtGk/maxresdefault.jpg");
    background-size: 100%;
    background-color: orange;
    border-color: orange;
    font-family: Arial Black, sans-serif;
}
