body {
    background-image: url("https://i.ytimg.com/vi/qotGz7FvtGk/maxresdefault.jpg");
    background-size: 100%;
    background-color:orange;
    border-color:orange;
    font-family:Arial Black, sans-serif;
    margin: 0;
}
#tab a {
    text-decoration: none;
    padding: 3px 6px 3px 6px ;
}
.content a {
    text-decoration:none;
    color:white;
}
header {
    width: 100%;
    height: 60px
}
#input-search {
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
}
.content-search {
    width: 100%;
    height: 100%;
    top: 148px;
    left: 0;
}
.content-table {
    width: 80%;
    max-height: 200px;
    height:auto;
    background: rgba(0,0,0,0.1);
    margin-left: 10px;
    overflow: hidden visible;
    box-shadow: 0px 0px 10px 10px white;
}
.content-table table {
    width: 100%;
}
tbody tr td a {
    display: block;
    padding: 10px;
    color: white;
}
tbody tr td a:hover {
    background: rgba(0, 0, 0, 0.3);
}
h2, h3, h4, .a, .lang, .title{
    color: black;
    background-color: orange;
    border:3px white solid;
}
#personaje {
    border-radius: 20px;
    border:3px white solid;
    box-shadow: 0px 0px 10px 10px white;
}
h1 #Creditos {
    color:white;
    background-color: #620C0C;
    padding: 5px;
    border:1px white solid;
    background: linear-gradient(#620C0C, orange, #FFBF78, black);
}
ul li {
    display: inline-block;
}
.mstartimage {
    margin-right: 10px;
}
.content {
    padding: 120px 10px 0px 10px;
}
/*Encabezado*/
.header {
    text-align:left;
    width: 100%;
    background-color: #ff5757;
    border:3px white solid;
    position: fixed;
    z-index: 10;
}
#tab {
    height: 23px;
    padding: 3px 0px 3px 0px;
    margin: -3px;
    position: relative;
    bottom: 20px;
}
.tab a {
    height: 50px;
    background-color: red;
    padding: 0px 2px 2px 2px red solid;
    margin: 0;
    color: white;
}
.tab a:hover {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
}
.tabnow a:hover {
    background-color: #ffffff;
    color: #ffa500;
}
ul li a {
    cursor: pointer;
}
.tabnow a {
    color: white;
    background: #ffa500;
}
/*Reproductor de video*/
.controls {
    width: 100%;
}
#full-player {
    background: #ffa500;
    margin: 3px;
    padding: 0px;
}
#reproductor .video_player {
    width: 100%;
    max-width: 550px;
    min-width: 120px;
    position: relative;
    color:white;
    background-color: #ffffff;
    padding: 5px;
    border:0px white solid;
    background: orange;
}
#reproductor #video {
    width: 100%;
    margin: 0%;
}
:-webkit-full-screen {
    cursor: none;
}
#reproductor #full-player {
    height: 306px;
    overflow: hidden;
}
#reproductor #full-player:hover .controls {
    transform: translateY(0);
}
#reproductor .controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    flex-wrap: wrap;
    margin: 0%;
    transform: translateY(100%) translateY(-1px);
    transition: all 0.2s;
    height: 60px;
    cursor: default;
}
#reproductor .duration_bar {
    background: #333333;
    height: 9px;
    left: 0px;
    top: 0px;
    width: 100%;
}
#reproductor .bar_style {
    background: orangered;
    width: 0;
    height: 100%;
    margin: 0;
}
#reproductor .buttons {
    display: flex;
    height: 56px;
}
#reproductor .left_button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    float: left;
}
#reproductor .right_button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
#reproductor #fullscreen {
    height: 100%;
    margin-left: 77%;
}
#reproductor #fullscreen:-webkit-full-screen {
    margin-left: 1000px;
}
#reproductor i {
    color: rgb(70, 70, 70);
}
#reproductor .time_display {
    padding: 18px 0px;
    color: #333333;
}
#reproductor .left {
    text-align: left;
    display: flex;
    width: 300px;
}
#reproductor .right {
    text-align: right;
    display: flex;
    width: 250px;
}
